Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [14]:
def is_symmetrical(num):
    num=str(num)
    res=num[::-1]
    if num==res:
        return True
    else:
        return False

In [15]:
is_symmetrical(7227)

True

In [16]:
is_symmetrical(12567)

False

In [17]:
is_symmetrical(44444444)

True

In [18]:
is_symmetrical(9939)

False

In [19]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [34]:
def multiply_nums(string):
    list_num=string.split(", ")
    tot=1
    for i in list_num:
        tot=tot*int(i)
    return tot

In [35]:
multiply_nums("2, 3")

6

In [36]:
multiply_nums("1, 2, 3, 4")

24

In [37]:
multiply_nums("54, 75, 453, 0")

0

In [38]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [55]:
def square_digits(n):
    res=""
    for i in str(n):
        res=res+str(int(i)**2)
    return int(res)

In [56]:
square_digits(9119)

811181

In [57]:
square_digits(2483)

416649

In [58]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [61]:
def setify(mylist):
    return list(set(mylist))

In [62]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [63]:
setify([4, 4, 4, 4])

[4]

In [64]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [65]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [84]:
def mean(num):
    n=str(num)
    res=0
    total=len(n)
    for i in n:
        res= int(i)+res
    result=res/total
    return result

In [85]:
mean(42)

3.0

In [86]:
mean(12345)

3.0

In [87]:
mean(666)

6.0